#about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 96px 0;
}

#about .content-about {
  width: 60%;
}

#about .container-img {
  width: 40%;
  position: relative;
}

#about .map {
  position: absolute;
  transform: translate(-50%, -50%);
  right: 140px;
  bottom: -10px;
  z-index: -1;
}

#about .content-about h2 {
  font-size: 40px;
  font-weight: 400;
}

#about .content-about h2 b {
  font-weight: 400;
  color: var(--red);
}

#about .content-about p {
  font-size: 20px;
  font-weight: 500;
  line-height: 160%;
  margin: 24px 0;
}

#about .about-icon {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

#about .about-icon a {
  background: var(--red);
  padding: 10px;
  border-radius: 100%;
  width: 56px;
  height: 56px;
  display: flex;
  place-content: center;
}

#about .about-icon a:hover {
  background: var(--red-hover);
}

@media screen and (max-width: 1700px) {
  #about .map {
    display: none;
  }
}

@media screen and (max-width: 1240px) {
  #about .content-about h2 {
    font-size: 32px;
  }

  #about .content-about p {
    font-size: 18px;
  }

  #about {
    padding: 32px 0;
  }

  #about .content-about {
    width: 100%;
  }
  #about .container-img {
    display: none;
  }
}
