* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: #ef3340;
  --white: #ffffff;
  --blue: #000120;
  --lightblue: #a6caf7;
  --red-hover: #ce2d38;
}

@font-face {
  font-family: HYDongMeiRenW-2;
  src: url(../font/HYDongMeiRenW-2.ttf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Sawarabi Mincho", serif;
  color: var(--blue);
}

p,
a {
  font-family: "Inter", serif;
  color: var(--blue);
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

.container-grid {
  max-width: 1216px;
  margin: 0 auto;
}

body {
  overflow-x: hidden;
}

body > img {
  position: absolute;
}

.galho-1 {
  top: 77px;
  left: -14px;
}

.galho-2 {
  top: -11px;
  right: 100px;
}

.galho-3 {
  top: 400px;
  right: -20px;
}

/* Menu */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
  height: 10vh;
}

header img {
  width: 124px;
}

header nav ul {
  display: flex;
  align-items: center;
  gap: 40px;
}

header nav ul li a {
  font-size: 20px;
  font-weight: 500;
}

header nav ul li .active {
  color: var(--red);
}

/* Sessão home */

#home {
  padding: 10px 0;
  height: 90vh;
}

#home > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 72px;
}

#home .content-home {
  max-width: 40%;
}

#home img {
  max-width: 60%;
}

#home div h1 {
  font-size: 40px;
  line-height: 130%;
  font-weight: 400;
}

#home div h1 b {
  color: var(--red);
  font-weight: 400;
}

#home div h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 24px 0 48px 0;
}

#home div a {
  background: var(--red);
  border-radius: 4px;
  padding: 20px 42px;
}

#home div a:hover {
  background: var(--red-hover);
}

#home div a button {
  font-size: 20px;
  color: var(--white);
  font-weight: 600;
  background: transparent;
}

/* Sessão About */

#about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#about .content-about {
  width: 60%;
}

#about .container-img {
  width: 40%;
  position: relative;
}

#about .map {
  position: absolute;
  transform: translate(-50%, -50%);
  right: 140px;
  bottom: -10px;
  z-index: -1;
}

#about .content-about h2 {
  font-size: 40px;
  font-weight: 400;
}

#about .content-about h2 b {
  font-weight: 400;
  color: var(--red);
}

#about .content-about p {
  font-size: 20px;
  font-weight: 500;
  line-height: 160%;
  margin: 24px 0;
}

#about .about-icon {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

#about .about-icon a {
  background: var(--red);
  padding: 10px;
  border-radius: 100%;
  width: 56px;
  height: 56px;
  display: flex;
  place-content: center;
}

#about .about-icon a:hover {
  background: var(--red-hover);
}

/* Skills */

#skills {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

#skills .content-skills {
  width: 50%;
}

#skills .content-skills span {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
}

#skills div h3 {
  font-size: 40px;
  font-weight: 300;
}

#skills div h2 {
  color: var(--red);
  font-weight: 300;
  font-family: HYDongMeiRenW-2;
  font-size: 64px;
}

#skills div p {
  color: var(--blue);
  line-height: 160%;
  font-weight: 500;
  font-size: 24px;
}

#skills .skills-icon {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  gap: 32px;
  width: 40%;
}

#skills .skills-icon div {
  border: 4px solid var(--red);
  border-radius: 100%;
  padding: 16px;
  width: 124px;
  height: 124px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#skills .skills-icon div:hover {
  background: var(--red);
}

#skills .skills-icon div:hover path {
  fill: var(--white);
}

#skills h4 {
  font-size: 250px;
  font-family: HYDongMeiRenW-2;
  color: var(--lightblue);
  font-weight: 300;
  opacity: 30%;
  position: absolute;
  top: 50%;
  left: -250px;
  transform: translate(0, -50%);
  z-index: -1;
}

/* Projetos */

#projects {
  height: 100vh;
}

#projects .content-projects {
  text-align: center;
}

#projects .content-projects span {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 32px;
  justify-content: center;
}

#projects div h3 {
  font-size: 40px;
  font-weight: 300;
}

#projects div span h2 {
  color: var(--red);
  font-weight: 300;
  font-family: HYDongMeiRenW-2;
  font-size: 64px;
}

#projects .content-projects p {
  color: var(--blue);
  line-height: 160%;
  font-weight: 500;
  font-size: 24px;
  max-width: 50%;
  margin: 0 auto;
}

#projects .projects-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 48px 32px;
  margin-top: 64px;
}

#projects .projects-cards article {
  width: 30%;
  position: relative;
}

#projects .projects-cards article .projects-image {
  height: 200px;
  width: 100%;
  border-radius: 4px;
  transition: 0.3s;
  background: url(../image/wallpaper-1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#projects .projects-cards article .image-filter {
  display: none;
}

#projects .projects-cards article:hover .image-filter {
  display: flex;
  align-items: center;
  justify-content: center;
}

#projects .projects-cards article .projects-image .image-filter h3 {
  color: var(--white);
  font-size: 64px;
  text-align: center;
  font-family: HYDongMeiRenW-2;
  font-weight: 300;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 200px;
  border-radius: 4px;
  background: rgba(0, 1, 32, 0.5);
}

#projects .projects-cards article h2 {
  font-size: 24px;
  color: var(--blue);
  font-weight: 300;
  margin: 20px 0;
}

#projects .projects-cards article button {
  background: var(--red);
  color: var(--white);
  font-family: "Inter", serif;
  font-size: 18px;
  padding: 16px;
  width: 100%;
  border-radius: 4px;
  font-weight: 500;
}

#projects .projects-cards article button:hover {
  background: var(--red-hover);
}

#projects .projects-cards article p {
  background: var(--red);
  color: var(--white);
  padding: 9px 18px;
  font-size: 24px;
  border-radius: 4px 0;
  position: absolute;
  top: 0;
  left: 0;
}

/* Sessão extra */

#extra {
  position: relative;
  margin: 150px 0;
}

#extra > img {
  position: absolute;
}

.galho-footer-1 {
  top: 77px;
  left: -14px;
}

.galho-footer-2 {
  top: -11px;
  right: -20px;
}

.galho-footer-3 {
  top: 550px;
  right: -20px;
}

#extra .content-extra {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
}

#extra .content-extra h3 {
  font-size: 24px;
  color: var(--blue);
  font-weight: 300;
}

#extra .content-extra img {
  width: 67px;
}

#extra .extra-fotos {
  background-image: url(../image/wallpaper-2.png);
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  position: relative;
}

#extra .extra-fotos h2 {
  font-size: 96px;
  color: var(--white);
  font-weight: 300;
}

#extra .extra-fotos > img {
  position: absolute;
}

.polaroid-1 {
  top: -112px;
  right: -123px;
}

.polaroid-2 {
  top: 139px;
  left: -95px;
}

.polaroid-3 {
  top: 430px;
  right: 144px;
}
